---
layout: page
title: "Personal Page"
description: "Hey, This Is LCY."
header-img: "img/cover/bing_13.JPG "
---

<!-- Language Selector -->
<!--<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <!<option value="0" selected> 中文 Chinese </option>-->
    <!--<option value="1"> 英文 English </option>-->
<!--</select> -->


<!--<a href="https://liaochengyu.github.io/">
    <button>点击查看我的简历</button>
</a>-->

<!-- Chinese Version -->
<!-- Split button -->
<div class="btn-group">
  <button type="button" class="btn btn-info">Action</button>
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="">我的简历</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="https://liaochengyu.github.io/">我的博客</a></li>
  </ul>
</div>

<div class="zh post-container">

    <!--copied from markdown -->
    <h2>人生格言</h2>
    <blockquote>
        <p>自信人生二百年，会当水击三千尺。</p>
        <p>大鹏一日同风起，扶摇直上九万里。</p>
        <p>不积跬步，无以至千里；不积小流，无以成江海。</p>
    </blockquote>
    <hr>
    <!-- <a class="btn" href="https://onedrive.live.com/?cid=593BC5BCE97201CB&id=593BC5BCE97201CB%21406&parId=root&o=OneUp"><i class="icon-download-alt"></i>点击查看我的简历</a> -->
    <!--Skill Keywords -->
    
    <h2>专业技能</h2>
    <div class="panel panel-default">
        <!--<div class="panel-heading">-->
            <!--<h3 class="panel-title">Software  Keywords</h3>-->
        <!--</div>-->
        <div class="panel-body">

            <span class="label label-default" aria-hidden="true"> &nbsp Office办公套件</span>&nbsp
            <span class="label label-success"  aria-hidden="true">&nbsp Python/Matlab数据处理</span>
            <br>
            <!--<div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                <span class="sr-only">40% Complete (success)</span>
                </div>
            </div>-->
            <span class="label label-primary" aria-hidden="true">&nbsp AutoCAD/SolidWorks制图软件</span>&nbsp
            <span class="label label-info" aria-hidden="true">&nbsp C#编程</span>
            <br>
            <span class="label label-success"  aria-hidden="true">&nbsp CAN总线通信/Canopne协议</span>&nbsp
            <span  class="label label-info" aria-hidden="true">&nbsp 伺服电机控制</span>
            <br>
            <span class="label label-warning"  aria-hidden="true">&nbsp <strong>计算机：</strong>全国计算机等级考试C语言二级</span>&nbsp
            <span class="label label-danger"  aria-hidden="true">&nbsp <strong>英语六级：</strong>500Points</span>
        </div>
    </div>
    <hr>

    <!--Education -->
    <h2>教育经历</h2>
    <div class="content-padding">
        <div class="comment-part">
            <ul id="comments">
                <li>
                    <div class="comment-inner"> <div class="comment-avatar">  </div> 
                    <div class="comment-content"> 
                        <div class="comment-header"> 
                        <h4><i class="fa fa-university"></i>&nbsp<a href="http://www.uestc.edu.cn/">电子科技大学</a></h4>
                        </div> 
                        <span class="post-a"><i class="fa fa-calendar-o" aria-hidden="true"></i> 2017年9月 - 2020年6月</span> &nbsp &nbsp 硕士研究生<strong>(保研学硕)</strong>  
                        <br>
                        <span class="post-a"><i class="fa fa-caret-square-o-down"></i> 一级学科：<strong>仪器科学与技术</strong>&nbsp &nbsp 二级学科：精密仪器及机械</span>
                        <br>
                        <span class="post-a"><i class="fa fa-bookmark"></i> 成绩排名：16/298(<strong>前5%</strong>)</span>
                    </div> 
                    </div>
                </li>
                <li>
                    <div class="comment-inner"> <div class="comment-avatar">  </div> 
                    <div class="comment-content"> <div class="comment-header"> <h4><i class="fa fa-university"></i>&nbsp<a href="http://www.uestc.edu.cn/">电子科技大学</a></h4> </div> <span class="post-a"><i class="fa fa-calendar-o" aria-hidden="true"></i> 2013年9月 - 2017年6月</span> &nbsp &nbsp学士  
                    <br>
                    <span class="post-a"><i class="fa fa-caret-square-o-down"></i> 一级学科：<strong>机械工程</strong>&nbsp &nbsp 二级学科：机械设计制造及其自动化</span>
                    <br>
                    <span class="post-a"><i class="fa fa-bookmark"></i> 成绩排名：16/298<strong>(前5%)</strong></span>
                    </div> 
                    </div>
                </li>
            </ul>
            <div class="comments-pager"></div>
        </div>
    </div>
    <hr><!--分界线 -->

     <!--Project -->
     <h2>项目经历</h2>
     <hr><!--分界线 -->

     <!--Self-assessment -->
     <h2>自我评价</h2>

    <p>大家好，我是<strong>廖成宇</strong>，<a href="https://zh.wikipedia.org/wiki/%E6%B3%B8%E5%B7%9E%E5%B8%82">四川泸州</a>人。<br><!-- <strong>座右铭：</strong>-->虽然到现在一直普普通通，但我一直在向优秀的道路上前进。</p>
</div>


<!-- 返回顶部代码 -->
<p align="right" >
    <a href="javascript:scroll(0,0)", img src="/img/scrollup.png"><strong><font color="red">返回顶部</font>
    </strong></a>
</p>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

