---
layout: page
title: "About"
description: "Hey, This Is LCY."
header-img: "img/404.PNG"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>人生的道路不会一帆风顺，事业的征途也充满崎岖艰险，只有奋斗，只有拼搏，才会达到成功的彼岸。</p></blockquote>
    
    <h2>Skill Keywords</h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Software  Keywords</h3>
        </div>
        <div class="panel-body">
            <button class="btn btn-default" type="button">Office</button>
            <button class="btn btn-default" type="button">Python</button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Software  Keywords</h3>
        </div>
        <div class="panel-body">
            <button class="btn btn-default" type="button">Office</button>
            <button class="btn btn-default" type="button">Python</button>
        </div>
    </div>
    
    <h2>Education</h2>
    <div class="content-padding"> 
        <div class="comment-part"> 
            <ol id="comments">
                <li> 
                <p>Education is not the learning of facts, but the training of the mind of think. Education is a gift that none can take away. I am still learning every day.</p>
                </li> 
                <li> <div class="comment-inner"> <div class="comment-avatar"> <img src="/assets/images/hku.jpg" alt="HKU"> </div> <div class="comment-content"> <div class="comment-header"> <h3><a href="http://www.hku.hk/">The University of Hong Kong</a></h3> </div> <span class="post-a"><i class="fa fa-calendar-o"></i> Sep, 2014 - present</span> <p>Ph.D. candidate. Researh programme in Organic Electronics.</p> </div> </div> 
                </li>
                <li> <div class="comment-inner"> <div class="comment-avatar"> <img src="/assets/images/SHU.png" alt="SHU"> </div> <div class="comment-content"> <div class="comment-header"> <h3><a href="http://www.shu.edu.cn/">Shanghai University</a></h3> </div> <span class="post-a"><i class="fa fa-calendar-o"></i> Sep, 2011 - Apr, 2014</span> <p>M.Phil. in Microelectronics &amp; Solid State Electronics.</p> </div> </div>
                </li> 
                <li> <div class="comment-inner"> <div class="comment-avatar"> <img src="/assets/images/TJPU.png" alt="TJPU"> </div> <div class="comment-content"> <div class="comment-header"> <h3><a href="http://www.tjpu.edu.cn/">Tianjin Polytechnic University</a></h3> </div> <span class="post-a"><i class="fa fa-calendar-o"></i> Sep, 2007 - Jun, 2014</span> <p>B.Eng. in Electronic Science &amp; Technology;<br>Bachelor of Business Administration as a second degree.</p> </div> </div> 
                </li> 
            </ol> 
            <div class="comments-pager"></div> 
        </div> 
    </div>
    
    
    
    
    
    
    <p>
    大家好，我是<strong>廖成宇</strong>，<a href="https://zh.wikipedia.org/wiki/%E6%B3%B8%E5%B7%9E%E5%B8%82">四川泸州</a>人，本科毕业于 <a href="http://www.uestc.edu.cn/07d640ec93e711fa6cbe9ec378ecde81.html">电子科技大学</a> ， <strong>机械设计制造及其自动化</strong>，毕业后保研至电子科技大学继续攻读硕士研究生，专业为 <strong>精密仪器及机械</strong>专业。
    </p>

    <p>
    在科研学习之余，我还是一个健身，户外登山，骑行爱好者，同时也非常喜欢游泳，羽毛球等小球运动。在这立个flag，准备学习轮滑，训练训练平衡能力。
    </p>

   <!--  <p>这是我的利用 <a href="https://pages.github.com/">GitHub Pages</a> 与 <a href="http://jekyll.com.cn/">Jekyll</a> 搭建的 个人博客。我在GitHub主页<a href="https://github.com/qiubaiying">👉GitHub·BY</a> 与 简书主页<a href="https://http://www.jianshu.com/u/e71990ada2fd">👉BY</a>。如果有什么问题，欢迎提出探讨~</p>
 -->
    <!-- <p></p> -->

    <!-- <h5>Talks</h5> -->

<!--     <ul>
        <li><a href="https://github.com">GitHub</a></li>
        <li><a href="http://jekyll.com.cn/">jekyll</a></li>
        <li><a href="http://huangxuan.me/">Hux</a></li>
        <li><a href="https://analytics.google.com/analytics">Google Analytics</a></li>
    </ul> -->
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>

    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
