---
title: Tags
layout: default
description: keep hungry keep foolish
header-img: "img/bing_9.JPG"
---
<head>
    <style type="text/css">
        #returntop{
        background:url(images/top.png) no-repeat; /*这里是图标地址*/
        bottom: 20px;
        right: 20px;
        height: 38px;  /* Height of image */
        width: 38px; /* Width of image */
        position:fixed;
        _position:absolute;
        line-height:30px;
        text-align:center;
        top:0px;
        left:0px;
        display:none;
        cursor:pointer;
        }
    </style>
</head>

<body>
    <div id="returntop"></div>
    <script type="text/javascript">
    var getDiv=document.getElementById('returntop');
    getDiv.onclick=function(){
    window.scrollTo(0,0);
    }
    window.onscroll=function(){
    if(document.documentElement.scrollTop){
    getDiv.style.display="block";
    }else if(document.body.scrollTop){
    getDiv.style.display="block";
    }else{
    getDiv.style.display="none";
    }
    }
    function getWinSize(){
    var winHeight=window.innerHeight,winWidth=window.innerWidth;
    if(document.documentElement.clientHeight){
    winHeight=document.documentElement.clientHeight;
    winWidth=document.documentElement.clientWidth;
    }else{
    winHeight=document.body.clientHeight;
    winWidth=document.body.clientWidth;
    }
        var height=winHeight-50;
    var width=winWidth-100;
    getDiv.style.top=height+"px";
    getDiv.style.left=width+"px";
    }
    getWinSize();
    window.onresize=getWinSize;
    </script>
</body>

<!-- ----------以上内容为自行添加------------ -->

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <!-- 标签云 -->
			<div id='tag_cloud' class="tags">
				{% for tag in site.tags %}
				<a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a>
				{% endfor %}
			</div>

            <!--<blockquote class="tag-comments">
                标签命名规范：
                    <li>行业观察、职位、公司优先使用中文</li>
                    <li>外国产品、术语优先使用英文</li>
            </blockquote>-->

            <!-- 标签列表 -->
			{% for tag in site.tags %}
			<div class="one-tag-list">
			  	<span class="fa fa-tag listing-seperator" id="{{ tag[0] }}">
                    <span class="tag-text">{{ tag[0] }}</span>
                </span>
				{% for post in tag[1] %}
				  <!-- <li class="listing-item">
				  <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
				  <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
				  </li> -->
				 <div class="post-preview">
				    <a href="{{ post.url | prepend: site.baseurl }}">
				        <h2 class="post-title">
                            {{ post.title }}
				        </h2>
				        {% if post.subtitle %}
				        <h3 class="post-subtitle">
				            {{ post.subtitle }}
				        </h3>
				        {% endif %}
				    </a>
				    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
				</div>
				<hr>
				{% endfor %}
			</div>
			{% endfor %}

		</div>
	</div>
</div>
